<section class="info">
  <h2>Create a tribe to save money</h2>
  <div>Create a tribe to save money buying what you want with a group of people.</div>
  </br>
  <div id="devider"></div>
  <%= render 'form' %>

</section>
