<div class="offer_solar_main_page">
    <div class="offer_use_solar_main_text">
      Offerussolar.com negotiates great solar deals for community groups.
    </div>
  <div class="solar_logo_img"><%=  image_tag("/assets/solar_logo.png") %></div>
    <div class="solar_video"></div>
    <div class="solar_group_join_text">
      Join on offerussolar.com group, and watch as you receive better offers as your group grows!
    </div>
    <div class="get_started">
        <div class="get_started_text">Get started!</div>
          <p class="quick_color">(its quick,easy and free)</p>
        <div class="get_started_inner_border"></div>
        <div class="post_code_text">enter your postcode and click start</div>
        <div class="start_search">
          <input type="text" /></div>
        <div class="start_button">Start</div>
    </div>
  
</div>


<br /></br>
<div class="offerus_main_page">
    <div class="offerus_main_text">
    With offer.us,you request the deal.The more people,the better offer!
    </div>
    <div class="offerus_video"></div>
    <div class="find_product">
        <div class="find_product_text">Find products</div>
          <p class="looking_for_font">what your looking for?</p>
          <div class="post_search">
          <select  name="cheese" class="menu_search">
        <option selected ></option>
        <option value="Tribe">Tribe</option>
        <option value="solar">solar</option>
        <option value="products">products</option>
       </select>
          </div>
         

        <div class="post_code_font">enter your post code</div>
        <div class="post_code_search">
        <input type="text"/>
        </div>
        <div class="search_button">Search</div>
    </div>
  
</div>

<div class="border_head_feature"></div>
<div class="featured_tribe_text">Featured tribes</div>
<div class="featured_tribe_container">
  <div class="feature_tribe_header">
    <a href="#" class="link_for_feature_tribe_header">Solar power systems</a> in Adelaide,South Australia
  </div>
  
  <div class="location_of_tribe"></div>
  <div class="description_for_tribe">We are looking for tribes which can buy in large in numbers about 1000 solar tribes if any please inform us we ready to serve you.</div>
  
    <div class="member_count_box"><br />
      <span class="number_dimension"><center>1</center></span>
      <span class="member_font"><center>people</center></span>
    </div>
  <div class="offer_details"><br />
    <span class="offer_count"><center>0</center></span>
    <span class="offer_text"><center>offers</center></span>
  </div>
  <div class="time_left_details"><br />
    <span class="time_left"><center>12</center></span>
    <span class="time_left_text"><center>days left</center></span>
  </div>
  <div class="view_this_tribe">View this tribe</div>
  <div class="request_to_join">Request to join</div>
</div>