// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comment{
align:bottom;
margin-top:1000px;
}

#toggle-view .field{display:none;}
#toggle-view .actions{display:none;}

.myclassname {
 margin-left:20px;
}
/*
#body{
    width:907px;
    height:60px;
    display:block;
    border-radius:5px;
} */
#user_id{
    width:200px;
}
/*
.actions
{
margin-left:0px;


}*/